<p id="notice"><%= notice %></p>

<h2>
  <!-- <b>Name:</b> -->
  <%= @user.name %>
</h2>

<div class = 'field'>


<p>
  <%= if @user.picture.present? then (image_tag @user.picture.url) else image_tag('no_profile.png')  end %>
</p>

<p>
  <b>Dob:</b>
  <%= @user.dob %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<!-- <p>
  <b>Previous Game:  
  <%# current_user.games.each do |game|%>
    <%#= if game.winner_id == current_user.id 
          "Win;" 

        elsif game.winner_id  != current_user.id
          "Loss; " 
        elsif game.winner_id.nil?
            link_to "unfinished game", game
        end

    %></b>
  <%# end %>
</p> -->

</div>

<%#= link_to 'Delete', @user, method: :delete, data: { confirm: "Are you sure you want to delete your account" } %> |
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |
